<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/document.css">
</head>

<body>
    <div id="page-content">
        <div id="toolbar">
            <input id="title-bar" value="New Note" disabled>
        </div>
        <div id="main-container">
            <div id="canvas-container">
                <div id="document">
                    hello there
                </div>
            </div>
            <div id="editor-container">
                <div id="editor">
                    <h3 id="editor-title">Editor</h3>
                </div>
                <div id="editor-resizer"></div>
            </div>
        </div>
    </div>
    <script src="/js/document.js"></script>
</body>

</html>